    #undo,
    #filter_clear,
    .confirm_link {
        text-decoration: underline;
        font-size: 0.75rem;
        cursor: pointer;
        color: #666A65 !important;

    }

    .btn-redirect {
        cursor: pointer;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }