{% extends "qp_phonix_front/templates/main.html" %}

{% block section_title %}
    {%if is_valid%}                
        {{ _("Your Order") }} #{{order.so_name}}
    {%endif%}
{% endblock %}

{% block button_title %}
    <a id="btn_back_orders" class="btn button-master button-back">
        {{ _("BACK TO ORDERS") }}
    </a> 
    {%if is_valid and order.status_code == 0%}

        <a id="btn_edit_order"  class="btn button-master button-default">
            {{ _("EDIT ORDER") }}
        </a>
        <a id = "btn_confirm_order"  class="btn button-master button-default">
            {{ _("CONFIRM ORDER") }}
        </a>
    {%endif%}
            
{% endblock %}

{% block principal_content %}

<style>
    .datepicker_confirm{
        background: rgba(77, 100, 68, 0.07);
        color: #4D6444;
        box-shadow: none;
        width: 100%;
        height: 47px;
    }

    .form-control.quantity{
        height:100% !important; 
        margin: 0 !important; 
        padding: 0 !important;
    }


    .cell_empty{
        height: 38px;
        
    }

    .modal .modal-footer{
        justify-content: right;
    }

    .trash_SubCategoria{
        background-color: #F1522E !important;
    }

    .modal-message{
        text-align: left;
        font: normal normal 600 24px/36px Montserrat;
        letter-spacing: 0px;
        color: #666A65;
        opacity: 1;
        margin-bottom: 10px;

    }

    .modal-title{
        text-align: left;
        font: normal normal bold 30px/82px Montserrat;
        letter-spacing: 0px;
        color: #4D6444;
        opacity: 1;
        margin-top: 50px;
    }

</style>



<div class="row"  style="margin-top: 30px;">
    {%if is_valid%}

        <div class="col-sm-3" style="margin-right: 1em; max-width: 23%;">
            <div class="row shadow p-3 mb-5 bg-white rounded">
                <div class="col-md-12 subtitle">
                    Your information
                </div>
                <div class="col-md-12 label">
                    Name
                </div>
                <div class="col-md-12 info background-info information_label">
                    {{order.customer_name}}
                </div>
                <div class="col-md-12 label">
                    Address
                </div>
                <div class="col-md-12 info background-info information_label">
                    {{order.address_line1}}
                </div>
                <div class="col-md-12 label">
                    City
                </div>
                <div class="col-md-12 info background-info information_label">
                    {{order.city}}
                </div>
                <div class="col-md-12 label">
                    ZIP codes
                </div>
                <div class="col-md-12 info background-info information_label">
                    {{order.pincode}}
                </div>
                <div class="col-md-12 label">
                    Contact number
                </div>
                <div class="col-md-12 info background-info information_label">
                    {{order.phone}}
                </div>
            </div>
        </div>
    
        <div class="col-sm-9">
            <div class="row">
            <div class="col-sm-9 shadow p-3 mb-5 bg-white rounded" style="max-width: 72%; margin-right: 0.75em;">
                <div class="col">
                    <div class="row">
                        <div class=" col-md-12 subtitle">
                            Delivery information
                        </div>
                    </div>
                    <div class="row label">
                        <div class="col-md-4">
                            Shipping type
                        </div>
                        <div class="col-md-4">
                            Shipping date
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4">
                            {%if order.status_code == 0%}

                                <div class="form-group">
                                    <select data-value = "{{order.shipping_type}}" data-type-val="true" class="form-control datepicker_confirm shipping_data" id="select_shipping_method">
                                        <option value="Shinpping type" disabled selected>Shipping type</option>
                                        {%for shipping_method in shipping_method_list %}
                                            {%if (shipping_method.name.lower() == order.shipping_type.lower())%}
                                                <option value="{{shipping_method.name}}" selected>{{shipping_method.description}}</option>
                                            {%else%}
                                                <option value="{{shipping_method.name}}">{{shipping_method.description}}</option>
                                            {%endif%}
                                        {%endfor%}
                                        
                                        
                                    </select>
                                </div>   
                                
                                
                            {%else%}
                                <div class="background-info information_label">
                                    {{order.shipping_description}}
                                </div>
                            {%endif%}     
                        </div>
                        <div class="col-md-4">
                            {%if order.status_code == 0%}
                                <div class="form-group">
                                    <div class="input-group date">
                                        <input data-value="{{order.shipping_date}}" data-type-val="true" type="text" id="datepicker" placeholder = "Shipping date" class="btn text-left datepicker_confirm shipping_data" value="{{order.shipping_date}}" readonly>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>          
                            {%else%}
                                <div class="background-info information_label">
                                    {{order.shipping_date}}
                                </div>
                            {%endif%}     
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 shadow p-3 mb-5 bg-white rounded">
                <div class=" col-md-12 subtitle">
                    Total Cost
                </div>
                <div class=" col-md-12 title" style="line-height: 48px;">
                    $ <span id="price_total">{{order.total}}</span>
                </div>
                <div class=" col-md-12 subtitle">
                    USD
                </div>
            </div>
        </div>
            <div class="row">
                {%if count_change_item_list%}
                    <div class="col-sm-12">
                        <div class="alert alert-warning text-center alert-dismissible fade show" role="alert">
                            Algunos productos fueron eliminados de la listas debido a que ya no estan disponibles
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                    </div>
                {%endif%}

                {%if count_change_price%}
                    <div class="col-sm-12">
                        <div class="alert alert-warning text-center" role="alert">
                            Los precios de algunos productos han sido actualizados
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                    </div>
                {%endif%}
            
                <div class="col-sm-12 subtitle">
                    <div class="row">
                        <div class="col-sm-3" style="margin-left: -15px; margin-bottom: 15px;">
                            Products
                            <input type="hidden" id="order_id" value="{{order.so_name}}">
                        </div> 
                        <div class="col-sm-8">
                            <a id="undo"></a>
                        </div> 
                    </div>
                </div>
                        
                {%for item in items_select%}

                    <div class="row line row_select" data-price = {{item.price }} data-subtotal = "{{item.price * item.cantidad}}" id = "row-{{item.item_code}}">
                        <input type="hidden" class="subtotal" value={{item.price * item.cantidad}}>
                        <div class="col-sm-2" >
                            <img width="575px" height="575px" class="rounded" src="{{item.image}}" alt="">                       
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="order_id" style="margin-bottom: 0rem;">{{item.item_name}} &nbsp; 
                                        {%if order.status_code == 0%}
                                        <a data-item = "row-{{item.item_code}}" class="oi oi-trash trash"></a></p> 
                                        {%endif%}
                                </div>         
                            </div>
                            <div class="row label">
                                <div class="col-sm-3">
                                    {{item.SubCategoria_title}}
                                </div>
                                <div class="col-sm-2">
                                    Quantity
                                </div>
                                <div class="col-sm-3">
                                    UOM
                                </div>
                                <div class="col-sm-2">
                                    Price
                                </div>
                                <div class="col-sm-2">
                                    Total
                                </div>
                            </div>
                    
                            <div class="row info">
                                <div class="col-sm-3">
                                    <div class="background-info information_label {{'' if item.SubCategoria_value else cell_empty}}">
                                        {{item.SubCategoria_value}}
                                    </div>
                                </div>
        
                                <div class="col-sm-2 ">
                                    <div class="background-info information_label">

                                        <input type="hidden" name="" id="item_id" value="{{item.item_code}}">

                                        {%if order.status_code == 0%}
                                            <input type="number"  class="form-control quantity" data-factor="{{item.inqt}}" data-value="{{item.cantidad}}" id="quantity" value="{{item.cantidad}}">
                                        {%else%}
                                                {{item.cantidad}}
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="background-info information_label">
                                        Units Increments by {{item.inqt}}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="background-info information_label">
                                        $ {{item.price}}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="background-info information_label">
                                        {{ "$ %.2f"|format(item.total) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            
                    <hr>
                    {%endfor%}


            </div> 
        </div> 
    {%else%}
    <div class="col-sm-12">    
        <div class="alert alert-danger text-center" role="alert">
            Debido a que el producto fue desabilitado la orden ha Sido eliminada
        </div>
    </div>
    {%endif%}
</div>


<div class="modal" data-backdrop="static" data-keyboard="false"  id="confirm-modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-body">
            <div class="row">
                <div class="col-sm-5">
                    <img src="/assets/qp_phonix_front/img/modal_flower.png" alt="">
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-12 modal-title">
                            <p>Thanks for your order</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col sm-12 modal-message">
                            <p>In the selected time you can enjoy the best products</p>
                        </div>                
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="/order/index" style="width: 100%; " class="btn button-master button-back">
                                {{ _("BACK TO ORDERS") }}
                            </a> 
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6">
                            <a href = "/order/new_type" style="width: 100%;" class="btn button-master button-default">
                                {{ _("NEW ORDER") }}
                            </a>
                        </div>
                        
                    </div>
                </div>
                
            </div>
          
        </div>
     
      </div>
    </div>
  </div>
{% endblock %}


