{% extends "qp_phonix_front/templates/defination.html" %}

{% block page_content %}    

{%if has_error%}                      
        
    {% include "qp_phonix_front/templates/error_msg.html" %}
        
{%else%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
    
</style> 
<style>
    .title, .title a{
        text-align: left;
        font: normal normal bold 28px/98px Montserrat;
        letter-spacing: 0px;
        color: #000;
        opacity: 1;
    }

    .title a{
        border-bottom: 5px solid ;
        margin-right: 5px;
    }

    .title .inactive{
        border-bottom: 0 ;
        color: #CDD9C8;
        cursor: pointer;
    }

    .button-new{
        text-align: right;
    }

    .button-back{
        background: #666A65 0% 0% no-repeat padding-box !important;

    }

    .button-default{
        background: #1aa2aa 0% 0% no-repeat padding-box !important;

    }

    .image{
        text-align: center;
    }

    .image .img{
        width: 152px;
        height: 152px;
        opacity: 1;
    }

    .button-master{
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        font-family: Montserrat;
        opacity: 1;   
        color: #FFFFFF !important;
        border: 0;
    }

    .button-title{
        font-size: 16px !important;
        line-height: 41px;
        width: 181px;
        height: 39px;   
    }

    .button-content{
        
        width: 287px;
        height: 61px;
    }

    .message{
        text-align: center;
        font: normal normal bold 52px/62px Montserrat;
        letter-spacing: 0px;
        color: #666A65;
        opacity: 1;
    }

    .button-second{
        font-size: 25px !important;
        line-height: 64px;
        text-align: center;
    }

    .sidebar-hover:hover{
        background-color:rgba(30, 39, 27, 0.26);
        
    }

    .sidebar-custom a, 
    .sidebar-custom a:hover{
        font-style: normal;
        font-variant: normal;

        font-weight: 500;
        font-size: 16px !important;
        line-height: 61px;

        font-family: Montserrat;
        /*font: normal normal medium  Montserrat;*/
        letter-spacing: 0px;
        color: #666A65;
        opacity: 1;

    }

    .ui-datepicker{
        z-index: 2000 !important;
        width: 31.5em !important;
    }

    .ui-datepicker-header{
        border: 0 !important;
        color: #4D6444 !important;
        background: none !important;
        text-transform: capitalize !important;
    }

    .ui-datepicker-calendar th{
        color: #4D6444;
    }


    .ui-datepicker-calendar a{
        color: #666A65 !important;
        text-align: center !important;
    }

    .ui-state-default{
        text-align: center !important;

    }
    
    .ui-state-default{
        border: 0 !important;
        background: none !important;
    }

    .order_id{
        color: #666A65;
        font-size: 22px;
        font-weight: 500;
        opacity: 1;
    }

    .label{
        font-size: 14px;
        color: #666A65;
        margin-top: 10px;
    }

    .info{
        color: #000;
        font-size: 14px;
        font-weight: 500;
    }
    .background-info{
        background: rgba(77, 100, 68, 0.07);

    }

    p.background-info{
        height: 3em;
        vertical-align: middle;
    }

    .subtitle{
        text-align: left;
        font: normal normal medium 22px/98px Montserrat;
        letter-spacing: 0px;
        color: #666A65;
    }
    .information_label{
        padding: 4.5% 4.5%;
        height: 100%;
    }

    .modal-backdrop.show{
        background-color:#4D6444 !important;
    }

    .modal-footer{
        justify-content:right !important;
    }
</style>

<div class="container">
    <div class="row" id="page-me" data-path="me">
        <!--div class="sidebar-column col-sm-2">
            <div class="web-sidebar">
                <div class="sidebar-items">
                    <ul class="list-unstyled sidebar-custom">
                        <li class="sidebar-item sidebar-hover">
                            <a href="/order/index" class="">
                                Order
                            </a>
                        </li>
                        <!-li class="sidebar-item item sidebar-hover">
                        
                            <a href="/rfq" style="font-size: 31px !important" class="">
                                Incident
                            </a>
                        </li>
                        <li class="sidebar-item item sidebar-hover">
                            <a href="/rfq" class="">
                                News
                            </a>
                        </li-->
                    </ul>
                </div>
            </div>
        </div-->
        <div class="main-column col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    {% block block_error %}
                    {% endblock %}
                </div>
                <div class="col-sm-12 title">
                    {% block section_title %}                    
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 button-new">
                    {% block button_title %}
                    {% endblock %}
                </div>
            </div>
            <!--div class="row">
                <div class="col-sm-12 button-new">
                    <a href="/order/new-type" class="btn button-master button-title">    
                        
                    </a>
                </div>
            </div-->
            <div class="row">
                <div class="page_content col-sm-12">
                    {% block principal_content %}
                    
                    {% endblock %}
                </div>
            </div>
            

        </div>
    </div>
</div>

<div class="modal" id="warn-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">  
          <h5 class="modal-title">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to proceed?</p>
        </div>
        <div class="modal-footer text-right">
            <input type="hidden" id = "type">
            <input type="hidden" id = "line">
          <button type="button" class="btn btn-default" id="button_no" data-dismiss="modal">No</button>
          <button type="button" data-type = "-1" id="button_yes" class="btn button-master button-default button-new">Yes</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal" id="blockscreen-modal" data-backdrop="static" data-keyboard="false" tabindex="-1">
</div>

  <div id="loader" class="loader" style="display: none;"></div> 
  <div id="blockscreen" class="text-center">
        <!--    img src="/assets/qp_phonix_front/img/loading.gif" style="height: 150px !important;" alt=""-->
  </div>
  <!--div class="modal-backdrop fade show"></div-->


{% endif %}
{% endblock %}
